.entity-link-edit,
.entity-link-frontend {
  font-size: 0;
}

.entity-link-edit:focus,
.entity-link-frontend:focus {
  box-shadow: none !important;
}

.entity-link-edit:before,
.entity-link-frontend:before {
  content: ' ';
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 16px;
}

.entity-link-edit:before {
  background-image: url("../icons/edit.svg");
}

.entity-link-frontend:before {
  background-image: url("../icons/show.svg");
}
